<h1>${title}</h1>
<img src="/images/LIL_WAYNE_BY_CHRIS_ALLMEID.jpeg" width="200" height="200"/>
<p>Dwayne Michael Carter Jr. (born September 27, 1982), known professionally as Lil Wayne, is an American rapper, singer, songwriter and record executive.</p>
<img src="/images/Lil_Wayne.webp" width="200" height="200"/>
<p>He is commonly regarded as one of the most influential hip hop artists of his generation,and often cited as one of the greatest rappers of all time.</p>
<a href="/cds"><button>Go CDS</button></a>